.spell-word {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  

.spell-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.spell-item{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  max-width: 300px;
  margin-bottom: 20px;
}
  
.word-button-wrap {
  height: 100%;
  /* padding: 20%; */
  /* margin-top: 10%; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
  
.input {
  padding: 5px;
  font-size: 32px;
  display: block;
  text-align: center;
}

.exit-button {
  position: absolute;
  left: 0cm;
}

.wrapper {
  bottom: 50%;
  right: 50%;
  position: absolute;
}

.title {
  color:black
}

.header {
  font-family: 'Roboto', 'Arial', 'sans-serif', 'Arial Narrow';
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 40px;
  margin-top: 10px;
}
  
button {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  color: black;
  border-radius: 0.25em;
  background: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  
  transition: 0.3s;
  user-select: none;
}
  
.message {
  margin-top: 10px;
  font-weight: bold;
}
